---
import MainLayout from "../layouts/main-layout.astro";
import FancyCard from "../components/fancy-card";
---

<MainLayout>
	<div>Index page</div>
	<FancyCard from="Omar" client:load />
</MainLayout>